@charset "UTF-8";
/*center banner模块*/
.center-banner { height: 260px; margin-top: 3rem; background: url("../img/texture.png"); text-align: center; overflow: hidden; }
.center-banner h1 { font-size: 2.2em; font-family: "Helvetica"; font-weight: 300; }
.center-banner h1:first-child { margin-top: 2em; color: var(--text-darkblack); }
.center-banner h1:nth-child(2) { color: var(--text-white); }
.center-banner button { padding: .8rem; margin-top: .5rem; font-size: 1.2rem; color: var(--text-lightblack); border: 2px solid var(--text-darkblack); background-color: var(--foreground-orange); cursor: pointer; }

/*child welcome模块*/
.child-welcome { display: flex; justify-content: space-between; align-items: center; height: 485px; }

.child-welcome-content { flex: .54; }
.child-welcome-content h1 { font-size: 2.2rem; font-weight: 500; }
.child-welcome-content h1:nth-child(2) { margin-bottom: 1rem; color: var(--foreground-orange); }
.child-welcome-content p { margin-bottom: 1rem; font-size: 1rem; line-height: 1.4; color: var(--text-lightblack); }
.child-welcome-content button { padding: .5rem; font-size: 1rem; color: var(--text-white); background-color: var(--foreground-deeppink); }

.child-welcome-img { flex: .36; }
.child-welcome-img img { width: 400px; height: 300px; }

/*index 头部轮播*/
.top-slide-wrap { height: 560px; background-image: url("../img/texture-yellow.png"); }
.top-slide-wrap .swiper-wrapper { min-width: 1200px; width: 80% !important; margin: 0 auto !important; }
.top-slide-wrap .swiper-pagination-bullet { width: 12px; height: 12px; background: #fff; }
.top-slide-wrap .swiper-pagination-bullet-active { width: 18px; border-radius: 6px; }

.top-slide { display: flex; justify-content: space-around; align-items: center; height: 100%; }

@keyframes slide-img { from { opacity: .1; }
  to { opacity: 1; } }
@keyframes slide-p { from { transform: translate(-100%); }
  to { transform: translateY(0); } }
@keyframes slide-button { from { transform: translateY(200%); }
  to { transform: translate(0); } }
.swiper-slide-active p { animation: slide-p .5s linear; }
.swiper-slide-active button { animation: slide-button .75s linear; }

.topslide-l { flex: 0.5; }
.topslide-l p { color: var(--text-white); font-size: 2em; }
.topslide-l button { padding: .5rem; margin-top: 2rem; font-size: 1rem; border-radius: 3px; color: var(--text-white); background-color: var(--foreground-purple); }

.topslide-r { flex: 0.4; animation: slide-img 1s linear; }
.topslide-r img { border-radius: 600px 340px 340px 600px / 600px 550px 550px 600px; box-shadow: 5px 15px 0 -3px rgba(0, 0, 0, 0.4); }

/*index Features*/
.features-title { margin-top: 2rem; text-align: center; }
.features-title span { font-size: 2.2rem; font-weight: 400; }
.features-title span:nth-child(1) { color: var(--text-darkblack); }
.features-title span:nth-child(2) { color: var(--foreground-green); }
.features-title p { color: var(--text-lightblack); }

.features-cards { display: grid; margin-top: 2rem; grid-template-rows: repeat(2, 1fr); grid-template-columns: repeat(3, 1fr); grid-gap: 2rem; }

.fcard { height: 240px; padding: 2rem 2rem; border-radius: 4px; }
.fcard h1 { font-size: 1.5rem; line-height: 2; }
.fcard p { font-size: 1rem; line-height: 1.5; }
.fcard:nth-child(1) { border: 1px solid var(--foreground-orange); }
.fcard:nth-child(1) h1 { color: var(--foreground-orange); }
.fcard:nth-child(2) { border: 1px solid var(--foreground-redpink); }
.fcard:nth-child(2) h1 { color: var(--foreground-redpink); }
.fcard:nth-child(3) { border: 1px solid var(--foreground-purple); }
.fcard:nth-child(3) h1 { color: var(--foreground-purple); }
.fcard:nth-child(4) { border: 1px solid var(--foreground-cyan); }
.fcard:nth-child(4) h1 { color: var(--foreground-cyan); }
.fcard:nth-child(5) { border: 1px solid var(--foreground-green); }
.fcard:nth-child(5) h1 { color: var(--foreground-green); }
.fcard:nth-child(6) { border: 1px solid var(--foreground-deeppink); }
.fcard:nth-child(6) h1 { color: var(--foreground-deeppink); }

/*index parent-reviews*/
.parent-reviews { position: relative; height: 600px; margin-top: 4rem; padding: 1rem; background-image: url(../img/texture-yellow.png); text-align: center; }
.parent-reviews h1 { font-size: 2.5rem; font-weight: 400; color: var(--text-white); }
.parent-reviews h2 { font-size: 1.2rem; font-weight: 300; margin-top: .5rem; }
.parent-reviews div { margin-top: .5rem; margin-right: 1rem; }
.parent-reviews div img { width: 150px; height: 150px; padding: 4px; border: 1px solid var(--bg-white); border-radius: 50%; }
.parent-reviews p { margin-top: 3rem; padding: 0rem 16rem; line-height: 1.6; font-size: .95rem; text-align: left; }
.parent-reviews .swiper-pagination { position: absolute; left: 16rem; top: 4rem; }
.parent-reviews .swiper-pagination .swiper-pagination-bullet { width: 20px; height: 12px; background: black; border-radius: 0; }
.parent-reviews .swiper-pagination .swiper-pagination-bullet-active { width: 30px; }

/*index LastestNews*/
.latestnews { margin-top: 3rem !important; text-align: center; }
.latestnews h1 { font-size: 2.5rem; }
.latestnews h1 span:first-child { font-weight: 300; }
.latestnews h1 span:last-child { font-weight: 400; color: var(--foreground-cyan); }
.latestnews p { margin-top: 1rem; }

.news-flex { display: flex; justify-content: space-between; margin-top: 2rem; }
.news-flex > div { flex: 0.3; }
.news-flex > div.flex-tips { position: relative; border: 1px solid var(--foreground-green); border-bottom: 5px solid var(--foreground-green); }
.news-flex > div.flex-tips .label { position: absolute; top: 1rem; padding: .6rem; color: var(--text-white); background: var(--foreground-green); }
.news-flex > div.flex-query { position: relative; border: 1px solid var(--foreground-deeppink); border-bottom: 5px solid var(--foreground-deeppink); }
.news-flex > div.flex-query .label { position: absolute; top: 1rem; padding: .6rem; color: var(--text-white); background: var(--foreground-deeppink); }
.news-flex > div.flex-general { position: relative; border: 1px solid var(--foreground-purple); border-bottom: 5px solid var(--foreground-purple); }
.news-flex > div.flex-general .label { position: absolute; top: 1rem; padding: .6rem; color: var(--text-white); background: var(--foreground-purple); }
.news-flex h1 { padding: 1rem 1rem 0; font-size: 1.5rem; text-align: left; }
.news-flex p { padding: 0 1rem 1rem; line-height: 1.5; font-size: 1rem; text-align: left; }
.news-flex .fphoto { padding-top: 64%; transition: all .3s linear; }
.news-flex .fphoto.ftip { background: url("../img/blog1.jpg"); background-size: cover; }
.news-flex .fphoto.fquery { background: url("../img/blog2.jpg"); background-size: cover; }
.news-flex .fphoto.fgeneral { background: url("../img/blog3.jpg"); background-size: cover; }
.news-flex .fphoto:hover { transform: scale(1.02) translateY(1px); box-shadow: 0 0 10px grey; }

/*contact mapAPI模块*/
.map-container { display: flex; justify-content: space-between; margin-top: 4rem !important; }

#map-wrap { flex: 0.64; height: 30vw; min-height: 400px; box-shadow: 0 0 10px grey; }

.enquiry { flex: 0.32; display: flex; flex-direction: column; justify-content: space-between; height: 30vw; min-height: 400px; }
.enquiry h1 { font-size: 2rem; text-align: center; }
.enquiry label { font-size: 1.1rem; }
.enquiry input, .enquiry textarea { width: 100%; margin-top: 1rem; font-size: 1rem; }
.enquiry .name label { color: var(--foreground-cyan); }
.enquiry .name input { border-bottom: 2px solid var(--foreground-cyan); }
.enquiry .addr label { color: var(--foreground-orange); }
.enquiry .addr input { border-bottom: 2px solid var(--foreground-orange); }
.enquiry .message label { color: var(--foreground-green); }
.enquiry .message textarea { height: 4rem; border: none; outline: none; border-bottom: 2px solid var(--foreground-green); resize: none; }
.enquiry button { width: 6rem; padding: .5rem; font-size: 1.1rem; color: var(--font-white); background: var(--foreground-cyan); }

/*contact bottom-info*/
.bottom-info { margin-top: 3rem !important; display: flex; justify-content: space-between; }
.bottom-info div { flex: .3; }

/*# sourceMappingURL=module.css.map */
