/*center banner模块*/
.center-banner {
  height: 260px;
  background: url("../img/texture.png");
  text-align: center;
  overflow: hidden;
  h1 {
    font-size: 2.2em;
    font-family: "Helvetica";
    font-weight: 300;
    &:first-child {
      margin-top: 2em;
      color: var(--text-darkblack);
    }
    &:nth-child(2) {
      color: var(--text-white);
    }
  }

  button {
    padding: .8rem;
    margin-top: .5rem;
    font-size: 1.2rem;
    color: var(--text-lightblack);
    border: 2px solid var(--text-darkblack);
    background-color: var(--foreground-orange);
    cursor: pointer;
  }
}

/*child welcome模块*/
.child-welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 485px;
}
.child-welcome-content {
  flex: .54;

  h1 {
    font-size: 2.2rem;
    font-weight: 500;
    &:nth-child(2){
      margin-bottom: 1rem;
      color: var(--foreground-orange);
    }
  }
  p {
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.4;
    color: var(--text-lightblack);
  }
  button {
    padding: .5rem;
    font-size: 1rem;
    color: var(--text-white);
    background-color: var(--foreground-deeppink);
  }
}
.child-welcome-img {
  flex: .36;
  img {
    width: 400px;
    height: 300px;
  }
}

/*index 头部轮播*/
.top-slide-wrap {
  height: 560px;
  background-image: url("../img/texture-yellow.png");
  .swiper-wrapper {
    min-width: 1200px;
    width: 80%!important;
    margin: 0 auto!important;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #fff;
  }
  .swiper-pagination-bullet-active{
    width: 18px;
    border-radius: 6px;
  }
}

.top-slide {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;

}

@keyframes slide-img {
  from{
    opacity:.1;}
  to{
    opacity: 1;}
}
@keyframes slide-p{
  from{transform:translate(-100%)}
  to{transform:translateY(0)}
}
@keyframes slide-button{
  from{transform:translateY(200%)}
  to{transform:translate(0)}
}

.swiper-slide-active {
  p {
    animation: slide-p .5s linear;
  }
  button {
    animation: slide-button .75s linear;
  }
}



.topslide-l {
  flex: 0.5;

  p {
    color: var(--text-white);
    font-size: 2em;
  }
  button {
    padding: .5rem;
    margin-top: 2rem;
    font-size: 1rem;
    border-radius: 3px;
    color: var(--text-white);
    background-color: var(--foreground-purple);
  }
}
.topslide-r {
  flex: 0.4;
  img {
    border-radius: 600px 340px 340px 600px / 600px 550px 550px 600px;
    box-shadow: 5px 15px 0 -3px rgba(0,0,0,.4);
  }
  animation: slide-img 1s linear;
}

/*index Features*/
.features-title {
  margin-top: 2rem;
  text-align: center;
  span {
    font-size: 2.2rem;
    font-weight: 400;
    &:nth-child(1){
      color: var(--text-darkblack);
    }
    &:nth-child(2) {
      color: var(--foreground-green);
    }
  }
  p {
    color: var(--text-lightblack);
  }
}
.features-cards {
  display: grid;
  margin-top: 2rem;
  grid-template-rows: repeat(2,1fr);
  grid-template-columns: repeat(3,1fr);
  grid-gap: 2rem;
}

.fcard {
  height: 240px;
  padding: 2rem 2rem;
  border-radius: 4px;
  h1 {
    font-size: 1.5rem;
    line-height: 2;
  }
  p{
    font-size: 1rem;
    line-height: 1.5;
  }
  &:nth-child(1){
    border: 1px solid var(--foreground-orange);
    h1 {
      color: var(--foreground-orange);
    }
  }
  &:nth-child(2){
    border: 1px solid var(--foreground-redpink);
    h1 {
      color: var(--foreground-redpink);
    }
  }
  &:nth-child(3){
    border: 1px solid var(--foreground-purple);
    h1 {
      color: var(--foreground-purple);
    }
  }
  &:nth-child(4){
    border: 1px solid var(--foreground-cyan);
    h1 {
      color: var(--foreground-cyan);
    }
  }
  &:nth-child(5){
    border: 1px solid var(--foreground-green);
    h1 {
      color: var(--foreground-green);
    }
  }
  &:nth-child(6){
    border: 1px solid var(--foreground-deeppink);
    h1 {
      color: var(--foreground-deeppink);
    }
  }
}

/*index parent-reviews*/
.parent-reviews {
  position: relative;
  height: 600px;
  margin-top: 4rem;
  padding: 1rem;
  background-image: url(../img/texture-yellow.png);
  text-align: center;
  h1 {
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--text-white);
  }
  h2 {
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: .5rem;
  }
  div {
    margin-top: .5rem;
    margin-right: 1rem;
    img{
      width: 150px;
      height: 150px;
      padding: 4px;
      border: 1px solid var(--bg-white);
      border-radius: 50%;
    }
  }
  p {
    margin-top: 3rem;
    padding: 0rem 16rem;
    line-height: 1.6;
    font-size: .95rem;
    text-align: left;
  }

  .swiper-pagination {
    position: absolute;
    left: 16rem;
    top: 4rem;
    .swiper-pagination-bullet {
      width: 20px;
      height: 12px;
      background: black;
      border-radius: 0;
    }
    .swiper-pagination-bullet-active{
      width: 30px;
    }
  }
}

/*index LastestNews*/
.latestnews {
  margin-top: 3rem!important;
  text-align: center;
  h1 {
    font-size: 2.5rem;

    span:first-child {
      font-weight: 300;
    }
    span:last-child {
      font-weight: 400;
      color: var(--foreground-cyan);
    }
  }
  p{
    margin-top: 1rem;
  }
}

@mixin flexblock($color) {

  position: relative;
  border: 1px solid $color;
  border-bottom: 5px solid $color;
  .label {
    position: absolute;
    top: 1rem;
    padding: .6rem;
    color: var(--text-white);
    background: $color;
  }
}

.news-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  &>div {
    flex: 0.3;
    &.flex-tips {
      @include flexblock(var(--foreground-green));
    }
    &.flex-query {
      @include flexblock(var(--foreground-deeppink));
    }
    &.flex-general {
      @include flexblock(var(--foreground-purple));
    }
  }
  h1 {
    padding: 1rem 1rem 0;
    font-size: 1.5rem;
    text-align: left;
  }
  p {
    padding: 0 1rem 1rem;
    line-height: 1.5;
    font-size: 1rem;
    text-align: left;
  }

  .fphoto {
    padding-top: 64%;
    &.ftip {
      background: url("../img/blog1.jpg");
      background-size: cover;

    }
    &.fquery {
      background: url("../img/blog2.jpg");
      background-size: cover;

    }
    &.fgeneral {
      background: url("../img/blog3.jpg");
      background-size: cover;

    }

  }
}