@charset "UTF-8";
/*center banner模块*/
.center-banner { height: 260px; margin-top: 3rem; background: url("../img/texture.png"); text-align: center; overflow: hidden; }
.center-banner h1 { font-size: 2.2em; font-family: "Helvetica"; font-weight: 300; }
.center-banner h1:first-child { margin-top: 2em; color: var(--text-darkblack); }
.center-banner h1:nth-child(2) { color: var(--text-white); }
.center-banner button { padding: .8rem; margin-top: .5rem; font-size: 1.2rem; color: var(--text-lightblack); border: 2px solid var(--text-darkblack); background-color: var(--foreground-orange); cursor: pointer; }

/*child welcome模块*/
.child-welcome { display: flex; justify-content: space-between; align-items: center; height: 485px; }

.child-welcome-content { flex: .54; }
.child-welcome-content h1 { font-size: 2.2rem; font-weight: 500; }
.child-welcome-content h1:nth-child(2) { margin-bottom: 1rem; color: var(--foreground-orange); }
.child-welcome-content p { margin-bottom: 1rem; font-size: 1rem; line-height: 1.4; color: var(--text-lightblack); }
.child-welcome-content button { padding: .5rem; font-size: 1rem; color: var(--text-white); background-color: var(--foreground-deeppink); }

.child-welcome-img { flex: .36; }
.child-welcome-img img { width: 400px; height: 300px; }

/*index 头部轮播*/
.top-slide-wrap { height: 560px; background-image: url("../img/texture-yellow.png"); }
.top-slide-wrap .swiper-wrapper { min-width: 1200px; width: 80% !important; margin: 0 auto !important; }
.top-slide-wrap .swiper-pagination-bullet { width: 12px; height: 12px; background: #fff; }
.top-slide-wrap .swiper-pagination-bullet-active { width: 18px; border-radius: 6px; }

.top-slide { display: flex; justify-content: space-around; align-items: center; height: 100%; }

@keyframes slide-img { from { opacity: .1; }
  to { opacity: 1; } }
@keyframes slide-p { from { transform: translate(-100%); }
  to { transform: translateY(0); } }
@keyframes slide-button { from { transform: translateY(200%); }
  to { transform: translate(0); } }
.swiper-slide-active p { animation: slide-p .5s linear; }
.swiper-slide-active button { animation: slide-button .75s linear; }

.topslide-l { flex: 0.5; }
.topslide-l p { color: var(--text-white); font-size: 2em; }
.topslide-l button { padding: .5rem; margin-top: 2rem; font-size: 1rem; border-radius: 3px; color: var(--text-white); background-color: var(--foreground-purple); }

.topslide-r { flex: 0.4; animation: slide-img 1s linear; }
.topslide-r img { border-radius: 600px 340px 340px 600px / 600px 550px 550px 600px; box-shadow: 5px 15px 0 -3px rgba(0, 0, 0, 0.4); }

/*index Features*/
.features-title { margin-top: 2rem; text-align: center; }
.features-title span { font-size: 2.2rem; font-weight: 400; }
.features-title span:nth-child(1) { color: var(--text-darkblack); }
.features-title span:nth-child(2) { color: var(--foreground-green); }
.features-title p { color: var(--text-lightblack); }

.features-cards { display: grid; margin-top: 2rem; grid-template-rows: repeat(2, 1fr); grid-template-columns: repeat(3, 1fr); grid-gap: 2rem; }

.fcard { height: 240px; padding: 2rem 2rem; border-radius: 4px; }
.fcard h1 { font-size: 1.5rem; line-height: 2; }
.fcard p { font-size: 1rem; line-height: 1.5; }
.fcard:nth-child(1) { border: 1px solid var(--foreground-orange); }
.fcard:nth-child(1) h1 { color: var(--foreground-orange); }
.fcard:nth-child(2) { border: 1px solid var(--foreground-redpink); }
.fcard:nth-child(2) h1 { color: var(--foreground-redpink); }
.fcard:nth-child(3) { border: 1px solid var(--foreground-purple); }
.fcard:nth-child(3) h1 { color: var(--foreground-purple); }
.fcard:nth-child(4) { border: 1px solid var(--foreground-cyan); }
.fcard:nth-child(4) h1 { color: var(--foreground-cyan); }
.fcard:nth-child(5) { border: 1px solid var(--foreground-green); }
.fcard:nth-child(5) h1 { color: var(--foreground-green); }
.fcard:nth-child(6) { border: 1px solid var(--foreground-deeppink); }
.fcard:nth-child(6) h1 { color: var(--foreground-deeppink); }

/*index parent-reviews*/
.parent-reviews { position: relative; height: 600px; margin-top: 4rem; padding: 1rem; background-image: url(../img/texture-yellow.png); text-align: center; }
.parent-reviews h1 { font-size: 2.5rem; font-weight: 400; color: var(--text-white); }
.parent-reviews h2 { font-size: 1.2rem; font-weight: 300; margin-top: .5rem; }
.parent-reviews div { margin-top: .5rem; margin-right: 1rem; }
.parent-reviews div img { width: 150px; height: 150px; padding: 4px; border: 1px solid var(--bg-white); border-radius: 50%; }
.parent-reviews p { margin-top: 3rem; padding: 0rem 16rem; line-height: 1.6; font-size: .95rem; text-align: left; }
.parent-reviews .swiper-pagination { position: absolute; left: 16rem; top: 4rem; }
.parent-reviews .swiper-pagination .swiper-pagination-bullet { width: 20px; height: 12px; background: black; border-radius: 0; }
.parent-reviews .swiper-pagination .swiper-pagination-bullet-active { width: 30px; }

/*index LastestNews*/
.latestnews { margin-top: 3rem !important; text-align: center; }
.latestnews h1 { font-size: 2.5rem; }
.latestnews h1 span:first-child { font-weight: 300; }
.latestnews h1 span:last-child { font-weight: 400; color: var(--foreground-cyan); }
.latestnews p { margin-top: 1rem; }

.news-flex { display: flex; justify-content: space-between; margin-top: 2rem; }
.news-flex > div { flex: 0.3; }
.news-flex > div.flex-tips { position: relative; border: 1px solid var(--foreground-green); border-bottom: 5px solid var(--foreground-green); }
.news-flex > div.flex-tips .label { position: absolute; top: 1rem; padding: .6rem; color: var(--text-white); background: var(--foreground-green); }
.news-flex > div.flex-query { position: relative; border: 1px solid var(--foreground-deeppink); border-bottom: 5px solid var(--foreground-deeppink); }
.news-flex > div.flex-query .label { position: absolute; top: 1rem; padding: .6rem; color: var(--text-white); background: var(--foreground-deeppink); }
.news-flex > div.flex-general { position: relative; border: 1px solid var(--foreground-purple); border-bottom: 5px solid var(--foreground-purple); }
.news-flex > div.flex-general .label { position: absolute; top: 1rem; padding: .6rem; color: var(--text-white); background: var(--foreground-purple); }
.news-flex h1 { padding: 1rem 1rem 0; font-size: 1.5rem; text-align: left; }
.news-flex p { padding: 0 1rem 1rem; line-height: 1.5; font-size: 1rem; text-align: left; }
.news-flex .fphoto { padding-top: 64%; transition: all .3s linear; }
.news-flex .fphoto.ftip { background: url("../img/blog1.jpg"); background-size: cover; }
.news-flex .fphoto.fquery { background: url("../img/blog2.jpg"); background-size: cover; }
.news-flex .fphoto.fgeneral { background: url("../img/blog3.jpg"); background-size: cover; }
.news-flex .fphoto:hover { transform: scale(1.02) translateY(1px); box-shadow: 0 0 10px grey; }

/*contact mapAPI模块*/
.map-container { display: flex; justify-content: space-between; margin-top: 4rem !important; }

#map-wrap { flex: 0.64; height: 30vw; min-height: 400px; box-shadow: 0 0 10px grey; }

.enquiry { flex: 0.32; display: flex; flex-direction: column; justify-content: space-between; height: 30vw; min-height: 400px; }
.enquiry h1 { font-size: 2rem; text-align: center; }
.enquiry label { font-size: 1.1rem; }
.enquiry input, .enquiry textarea { width: 100%; margin-top: 1rem; font-size: 1rem; }
.enquiry .name label { color: var(--foreground-cyan); }
.enquiry .name input { border-bottom: 2px solid var(--foreground-cyan); }
.enquiry .addr label { color: var(--foreground-orange); }
.enquiry .addr input { border-bottom: 2px solid var(--foreground-orange); }
.enquiry .message label { color: var(--foreground-green); }
.enquiry .message textarea { height: 4rem; border: none; outline: none; border-bottom: 2px solid var(--foreground-green); resize: none; }
.enquiry button { width: 6rem; padding: .5rem; font-size: 1.1rem; color: var(--font-white); background: var(--foreground-cyan); }

/*contact bottom-info*/
.bottom-info { margin-top: 3rem !important; display: flex; justify-content: space-between; }
.bottom-info div { flex: .3; }

/*classes cards*/
.classes-cards-wrap { margin-top: 2rem !important; display: flex; flex-wrap: wrap; justify-content: space-between; }
.classes-cards-wrap .classes-card { margin-top: 2rem; width: 49%; min-width: 540px; height: 15vw; min-height: 270px; box-shadow: 0 0 5px darkgrey; border-radius: 5px; }
.classes-cards-wrap .classes-card > div { display: inline-block; }

.card-img { width: 33%; height: 100%; background-size: auto; }
.card-img.cai1 { background: url("../img/png/one.png") no-repeat center; }
.card-img.cai2 { background: url("../img/png/two.png") no-repeat center; }
.card-img.cai3 { background: url("../img/png/three.png") no-repeat center; }
.card-img.cai4 { background: url("../img/png/four.png") no-repeat center; }

.card-content { margin-top: 2rem; width: 66%; vertical-align: top; }
.card-content h1 { font-size: 1.5rem; }
.card-content h2 { margin-top: 1rem; font-size: 1.2rem; color: var(--foreground-orange); }
.card-content p { margin-top: 1rem; margin-right: 1rem; font-size: 1rem; line-height: 1.5; }
.card-content button { margin-top: 1rem; padding: .5rem; font-size: 1.1rem; color: var(--font-white); }
.card-content button.cab1 { background: var(--foreground-green); }
.card-content button.cab2 { background: var(--foreground-cyan); }
.card-content button.cab3 { background: var(--foreground-purple); }
.card-content button.cab4 { background: var(--foreground-deeppink); }

/*our staff mod*/
.ourstaff { margin-top: 3rem !important; text-align: center; }
.ourstaff h1 { font-size: 2.4rem; }
.ourstaff h1 span:first-child { font-weight: 300; }
.ourstaff h1 span:last-child { font-weight: 400; color: var(--foreground-green); }
.ourstaff p { margin-top: 1rem; }

.staff-wrap { margin-top: 2rem; display: flex; justify-content: space-between; }
.staff-wrap .staff-box { flex: 0.225; box-shadow: 0 0 10px grey; }
.staff-wrap .staff-avater { width: 100%; padding-top: 100%; }
.staff-wrap .staff-avater.stf1 { background: url("../img/staff1.jpg"); background-size: cover; }
.staff-wrap .staff-avater.stf2 { background: url("../img/staff2.jpg"); background-size: cover; }
.staff-wrap .staff-avater.stf3 { background: url("../img/staff3.jpg"); background-size: cover; }
.staff-wrap .staff-avater.stf4 { background: url("../img/staff4.jpg"); background-size: cover; }
.staff-wrap .staff-name { height: 100px; padding-top: .5rem; color: var(--font-white); }
.staff-wrap .staff-name h2 { font-size: 1.3rem; margin-top: 1rem; }
.staff-wrap .staff-name h3 { font-size: 1.1rem; margin-top: 1rem; }
.staff-wrap .staff-name.sn1 { background: var(--foreground-orange); }
.staff-wrap .staff-name.sn2 { background: var(--foreground-green); }
.staff-wrap .staff-name.sn3 { background: var(--foreground-redpink); }
.staff-wrap .staff-name.sn4 { background: var(--foreground-cyan); }

/*page404 content*/
.content404-wrap { margin-top: 4rem; text-align: center; }
.content404-wrap p { font-size: 1rem; }
.content404-wrap .img404 { margin-top: 2rem; }

/*blog-detail页*/
.detail-content-wrap { display: flex; justify-content: space-between; margin-top: 4rem !important; }

.detail-content { flex: 0.65; }
.detail-content h1 { font-size: 1.8rem; color: var(--foreground-purple); }
.detail-content .article-tags { display: flex; align-items: center; margin-top: 1rem; height: 3rem; border-top: 1px solid var(--font-lightgrey); border-bottom: 1px solid var(--font-lightgrey); }
.detail-content .article-tags .author-box { padding: .2rem; margin-right: auto; color: var(--font-white); background: var(--font-darkgrey); }
.detail-content .article-tags .fa-calendar { color: var(--foreground-cyan); }
.detail-content .article-text .article-text-img { margin-top: 1rem; min-height: 470px; height: 33vw; background: url(../img/blog1.jpg); background-size: cover; }
.detail-content .article-text h2 { font-weight: 700; font-size: 1.5rem; margin-top: 1rem; }
.detail-content .article-text p { margin-top: 1rem; color: var(--text-lightblack); font-size: 1rem; line-height: 1.5; }
.detail-content .article-arrows { display: flex; justify-content: space-between; align-items: center; margin-top: 1rem; height: 4rem; border-top: 1px solid gainsboro; border-bottom: 1px solid gainsboro; }
.detail-content .article-arrows > div { padding: .5rem; font-size: 1.1rem; color: var(--text-white); background: var(--foreground-cyan); cursor: pointer; }

.detail-sidebar { flex: 0.32; }

/*blog与blog-detail通用sidebar区*/
.sidebar-connected { margin-bottom: 2rem; border: 1px solid var(--foreground-green); }
.sidebar-connected figcaption { padding: 1rem; color: var(--font-white); font-size: 1.3rem; background: var(--foreground-green); }
.sidebar-connected div { padding: 1rem; }
.sidebar-connected i { color: var(--font-darkgrey); font-size: 1.2rem; margin-right: 1rem; }

.sidebar-posts { margin-bottom: 2rem; border: 1px solid var(--foreground-cyan); }
.sidebar-posts figcaption { padding: 1rem; color: var(--font-white); font-size: 1.3rem; background: var(--foreground-cyan); }
.sidebar-posts div { padding: 1rem; }
.sidebar-posts div p:nth-child(2) { margin-top: .5rem; font-size: .75rem; color: var(--text-lightblack); }
.sidebar-posts div:not(:last-child) { border-bottom: 1px solid var(--font-lightgrey); }

.sidebar-treatment { margin-bottom: 2rem; border: 1px solid var(--foreground-orange); }
.sidebar-treatment figcaption { padding: 1rem; color: var(--font-white); font-size: 1.3rem; background: var(--foreground-orange); }
.sidebar-treatment figcaption { color: var(--text-lightblack); }
.sidebar-treatment div { padding: 0 1rem 1rem; background: var(--foreground-orange); }
.sidebar-treatment p { line-height: 1.5; color: var(--text-white); }
.sidebar-treatment button { margin-top: 1rem; padding: .4rem .6rem; color: var(--text-white); background: var(--text-darkblack); border-radius: 3px; }

.sidebar-tags { margin-bottom: 2rem; border: 1px solid var(--foreground-purple); }
.sidebar-tags figcaption { padding: 1rem; color: var(--font-white); font-size: 1.3rem; background: var(--foreground-purple); }
.sidebar-tags .tags-container { display: flex; flex-wrap: wrap; padding: 1rem; }
.sidebar-tags .tags-container div { margin: 0 .5rem .5rem 0; padding: .5rem; color: var(--text-darkblack); border: 1px solid var(--font-lightgrey); cursor: pointer; }

/*blog主区*/
.blog-content-wrap { display: flex; justify-content: space-between; margin-top: 4rem !important; }

.blog-content { flex: 0.65; }

.blog-sidebar { flex: 0.32; }

.blog-tipscard { margin-bottom: 2rem; border: 1px solid var(--font-lightgrey); }
.blog-tipscard .avater { position: relative; height: 33vw; min-height: 470px; background: url("../img/blog1.jpg"); background-size: cover; }
.blog-tipscard .avater .label { position: absolute; left: 0; top: 2rem; padding: .5rem; font-size: 1.2rem; color: var(--text-white); background: var(--foreground-green); }
.blog-tipscard .blog-card-text { padding: 1rem; }
.blog-tipscard .blog-card-text h1 { font-size: 1.5rem; color: var(--foreground-green); }
.blog-tipscard .blog-card-text p { margin-top: 1rem; line-height: 1.5; font-size: 1rem; }
.blog-tipscard .blog-card-text .blog-date { margin-top: 1rem; }
.blog-tipscard .blog-card-text .blog-date i { color: var(--foreground-green); }
.blog-tipscard .blog-card-text .blog-date span { font-weight: 700; }

.blog-querycard { margin-bottom: 2rem; border: 1px solid var(--font-lightgrey); }
.blog-querycard .avater { position: relative; height: 33vw; min-height: 470px; background: url("../img/blog2.jpg"); background-size: cover; }
.blog-querycard .avater .label { position: absolute; left: 0; top: 2rem; padding: .5rem; font-size: 1.2rem; color: var(--text-white); background: var(--foreground-deeppink); }
.blog-querycard .blog-card-text { padding: 1rem; }
.blog-querycard .blog-card-text h1 { font-size: 1.5rem; color: var(--foreground-deeppink); }
.blog-querycard .blog-card-text p { margin-top: 1rem; line-height: 1.5; font-size: 1rem; }
.blog-querycard .blog-card-text .blog-date { margin-top: 1rem; }
.blog-querycard .blog-card-text .blog-date i { color: var(--foreground-deeppink); }
.blog-querycard .blog-card-text .blog-date span { font-weight: 700; }

.blog-generalcard { margin-bottom: 2rem; border: 1px solid var(--font-lightgrey); }
.blog-generalcard .avater { position: relative; height: 33vw; min-height: 470px; background: url("../img/blog3.jpg"); background-size: cover; }
.blog-generalcard .avater .label { position: absolute; left: 0; top: 2rem; padding: .5rem; font-size: 1.2rem; color: var(--text-white); background: var(--foreground-purple); }
.blog-generalcard .blog-card-text { padding: 1rem; }
.blog-generalcard .blog-card-text h1 { font-size: 1.5rem; color: var(--foreground-purple); }
.blog-generalcard .blog-card-text p { margin-top: 1rem; line-height: 1.5; font-size: 1rem; }
.blog-generalcard .blog-card-text .blog-date { margin-top: 1rem; }
.blog-generalcard .blog-card-text .blog-date i { color: var(--foreground-purple); }
.blog-generalcard .blog-card-text .blog-date span { font-weight: 700; }

.page-item { display: inline-block; }
.page-item a { font-size: 1.2rem; margin-right: .3rem; color: var(--text-lightblack); }
.page-item a.redpink { color: var(--foreground-redpink); }

/*facilities页 grid*/
.avater-grid { margin-top: 4rem !important; display: grid; grid-gap: 2rem; grid-template-columns: repeat(2, 1fr); grid-template-rows: repeat(3, 170px); }
.avater-grid > div { display: flex; padding: 1rem; border: 1px solid var(--font-lightgrey); border-radius: 3px; }
.avater-grid > div .ab-img { flex: 0.18; height: 170px; }
.avater-grid > div .ab-img.abi1 { background: url("../img/png/facilities/one.png") no-repeat; }
.avater-grid > div .ab-img.abi2 { background: url("../img/png/facilities/two.png") no-repeat; }
.avater-grid > div .ab-img.abi3 { background: url("../img/png/facilities/three.png") no-repeat; }
.avater-grid > div .ab-img.abi4 { background: url("../img/png/facilities/four.png") no-repeat; }
.avater-grid > div .ab-img.abi5 { background: url("../img/png/facilities/five.png") no-repeat; }
.avater-grid > div .ab-img.abi6 { background: url("../img/png/facilities/six.png") no-repeat; }
.avater-grid > div .ab-text { flex: 0.82; }
.avater-grid > div .ab-text h1 { font-size: 1.5rem; }
.avater-grid > div .ab-text p { margin-top: 1rem; line-height: 1.5; font-size: 1rem; color: var(--font-darkgrey); }

/*faq主体*/
.main-content { margin-top: 4rem !important; width: 50% !important; min-width: 720px !important; }
.main-content h2 { font-size: 1.1rem; color: var(--font-darkgrey); }
.main-content .mctxt { margin-top: 1rem; }
.main-content .mctxt.mcone { border: 1px solid var(--foreground-cyan); }
.main-content .mctxt.mcone p { padding: 1rem; line-height: 2; color: var(--text-lightblack); }
.main-content .mctxt h1 { font-size: 1.1rem; padding: 1rem; color: var(--text-white); }
.main-content .mctxt h1.mcone { background: var(--foreground-cyan); }
.main-content .mctxt h1.mctwo { background: var(--foreground-green); }
.main-content .mctxt h1.mcthree { background: var(--foreground-purple); }
.main-content .mctxt h1.mcfour { background: var(--foreground-orange); }

/*gallery主区*/
.gallery-wrap { margin-top: 4rem !important; }
.gallery-wrap h1 { font-size: 1rem; }

.gallery-grid { margin-top: 1rem; display: grid; grid-template-columns: repeat(3, 1fr); grid-template-rows: repeat(2, minmax(240px, 18vw)); grid-gap: 1rem; }
.gallery-grid .gallery-card:nth-child(1) { border: 2px solid var(--foreground-orange); background: url(../img/gallery/1.jpg); background-size: cover; }
.gallery-grid .gallery-card:nth-child(2) { border: 2px solid var(--foreground-redpink); background: url(../img/gallery/2.jpg); background-size: cover; }
.gallery-grid .gallery-card:nth-child(3) { border: 2px solid var(--foreground-green); background: url(../img/gallery/3.jpg); background-size: cover; }
.gallery-grid .gallery-card:nth-child(4) { border: 2px solid var(--foreground-purple); background: url(../img/gallery/4.jpg); background-size: cover; }
.gallery-grid .gallery-card:nth-child(5) { border: 2px solid var(--foreground-cyan); background: url(../img/gallery/5.jpg); background-size: cover; }
.gallery-grid .gallery-card:nth-child(6) { border: 2px solid var(--foreground-deeppink); background: url(../img/gallery/6.jpg); background-size: cover; }

/*# sourceMappingURL=module.css.map */
