
html {
  overflow-x: hidden;
}

header {
  background: #ffffff;
}

.topSec {
  height: 105px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    font-size: 0.9rem;
  }
  .logo {
    margin-bottom: 10px;
  }
  .s1,.s2,.s3,.s4 {
    margin-top: 10px;
    img {
      vertical-align: middle;
      padding-bottom: 6px;
    }
  }
  .s1 {
    margin-left: 60px;
  }
}
.topSec-end {
  width: 160px;
  span {
    font-size: 0.9rem;
  }
}

.topNavWrap {
  background: #582723;
}
.topNav {
  height: 60px;
  display: flex;
  a {
    color: #fff;
    flex: 1;
    height: 100%;
    line-height: 60px;
    text-align: center;
    position: relative;

    &:hover {
      background: #000;
      color: #df723e;
      font-weight: bold;
      ul {
        display: block;
      }
    }

    ul {
      display: none;
      position: absolute;
      background: #fff;
      box-shadow: 0 0 5px 1px #c8c8c8;
      top: 100%;
      width: 100%;
      color: black;
      font-size: 0.9rem;
      font-weight: normal;
      >li {
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid #c8c8c8;
        transition: all .3s linear;
        &:hover {
          background: #df723e;
          color: #fff;
        }
      }
    }
  }
}

.topBanner {
  width: 100vw;
  height: 27.5vw;
  background: url("../img/banner1.jpg") no-repeat;
  background-size: cover;
}

@mixin mainContent-title {
  h2 {
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #c8c8c8;
  }
  span:first-child {
    font-weight: normal;
  }
  span:last-of-type {
    color: darkgrey;
    font-weight: normal;
  }
}
.productWrap {
  background: #ffffff;
}
.product {
  height: 310px;
  overflow: hidden;
  @include mainContent-title;
}

.productContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.productItem {
  text-align: center;
  .pI-circle {
    width: 160px;
    height: 160px;
    border-radius: 80px;
    margin-top: 20px;
    background: #df723e url("../img/pcon1.png") no-repeat center;
  }
  h3 {
    color: #df723e;
    margin-top: 10px;
  }
  span {
    font-size: 0.6rem;
    margin-top: 10px;
  }
}


.inquierWrap {
  background: #f8f8f8;
}
.inquire {
  height: 385px;
  overflow: hidden;
  @include mainContent-title;
}


.newsWrap {
  background: #ffffff;
}
.news {
  height: 390px;
  overflow: hidden;
  @include  mainContent-title;
}

.partnersWrap {
  background: #f8f8f8;
}
.partners {
  height: 235px;
  overflow: hidden;
  @include  mainContent-title;
}