@charset "UTF-8";
/*颜色变量*/
/*header部分*/
.site-header { background: rgba(0, 0, 0, 0.3); }

.topInfo { height: 65px; border-radius: 0 0 30px 30px; background: rgba(255, 255, 255, 0.6); display: flex; align-items: center; }
.topInfo > * { margin-left: 30px; color: #000; }
.topInfo > a:nth-child(3) { margin-left: auto; }
.topInfo > a:last-child { margin-right: 30px; }
.topInfo .icon-mail, .topInfo .icon-shouji { font-size: 1.3rem; }
.topInfo a:hover { color: #ee5845; }

.topNav { height: 100px; display: flex; justify-content: space-between; align-items: center; position: relative; }
.topNav a:nth-child(2) { margin-left: 150px; }
.topNav a { color: #ffffff; font-size: 1.2rem; font-weight: 700; }
.topNav a:hover { color: #ee5845; }
.topNav .logo { font-size: 3rem; font-weight: 700; color: #ee5845; }
.topNav i { font-size: 1.6rem; }
.topNav p { position: absolute; width: 90px; font-size: .7rem; right: -10px; margin-top: 10px; }

/*topBanner*/
.topBanner { margin-top: -165px; height: 750px; background: url("../img/banner.jpg") no-repeat; background-size: cover; position: relative; z-index: -1; }

.banner-aside { position: absolute; right: 0; top: 35%; }
.banner-aside > div { width: 735px; height: 185px; background: rgba(235, 32, 0, 0.3); }
.banner-aside h1 { text-align: right; margin-top: 20px; margin-right: 30px; }
.banner-aside p { text-align: right; color: #ffffff; font-size: 1.6rem; margin-top: 30px; margin-right: 30px; }
.banner-aside button { width: 180px; height: 45px; font-size: 1.5rem; margin-top: 20px; }
.banner-aside button.btn-exp { background: #ee5845; color: #ffffff; box-sizing: border-box; margin-left: 300px; }
.banner-aside button.btn-shop { background: transparent; border: 1px solid black; box-sizing: border-box; }

/*main部分*/
.blocksNav { margin-top: 40px; display: grid; grid-template-columns: 400px 400px 255px; grid-template-rows: 185px 150px; column-gap: 30px; row-gap: 40px; }

.Shoes { background: #000; position: relative; }
.Shoes img { height: 150px; width: 170px; position: absolute; left: -20px; top: 60px; }

.Bags { background: #937361; position: relative; }
.Bags img { position: absolute; right: -20px; top: 15px; }

.FASHION { grid-row: span 2; background: url("../img/pi1.jpg") no-repeat; background-size: cover; }
.FASHION .mask { width: 100%; height: 100%; background: rgba(238, 12, 4, 0.2); }

.Member { grid-column: span 2; background: #686767; }

.shows { margin-top: 40px; }
.shows hr { width: 170px; }
.shows h1 { text-align: center; font-size: 3rem; }

.showsTitle { text-align: center; }
.showsTitle button { margin-left: 10px; margin-right: 10px; margin-top: 30px; width: 145px; height: 40px; font-size: 1.2rem; font-weight: 700; border: 2px solid black; box-sizing: border-box; }

.showsContent { display: flex; margin-top: 30px; }
.showsContent div { flex: 1; height: 570px; }
.showsContent .sc1 { background: url("../img/pi2.jpg") no-repeat; background-size: cover; }
.showsContent .sc2 { background: url("../img/pi3.jpg") no-repeat; background-size: cover; }
.showsContent .sc3 { background: url("../img/pi4.jpg") no-repeat; background-size: cover; }

/*midBanner部分*/
.midBanner { margin-top: 60px; height: 335px; color: #ffffff; background: url("../img/back.jpg") no-repeat; background-size: cover; overflow: hidden; }
.midBanner .mBtext { width: 1020px; margin: 50px auto; font-size: 2.5rem; font-weight: 400; text-align: center; }
.midBanner .mBtext hr { width: 115px; }

/*downPart*/
.downPart { margin-top: 50px; }

.LatestNews a { color: #000; font-size: 2rem; text-decoration: underline; }

.LNgrid { display: grid; margin-top: 55px; grid-template-rows: repeat(2, 200px); grid-template-columns: 365px 340px 350px; grid-row-gap: 40px; justify-content: space-between; }

.lPic1 { background: url("../img/bl.jpg") no-repeat; background-size: cover; }

.lPic2 { background: #3d99f7; }

.rBigPic { grid-row: span 2; background: url("../img/bl1.jpg"); }
.rBigPic div.rmask { width: 100%; height: 100%; background: rgba(235, 32, 0, 0.2); }

.bottomPic { position: relative; z-index: 0; display: flex; justify-content: center; align-items: center; height: 225px; margin-top: 60px; background: url("../img/product.jpg") no-repeat; background-size: cover; }
.bottomPic .bPcenter { width: calc(100% - 30px); height: calc(100% - 30px); border: 1px solid white; box-sizing: border-box; }
.bottomPic .bPright { position: absolute; z-index: -1; right: 0; width: 395px; height: 100%; background: darkgrey; }
.bottomPic .bPright p:last-child { text-transform: uppercase; }

/*footer部分*/
.site-footer { margin-top: 60px; background: #eee; border-top: 1px solid black; }

.bottomInfo { height: 585px; border-bottom: 2px solid black; box-sizing: border-box; }

.site-info { height: 135px; }

/*# sourceMappingURL=style.css.map */
