@charset "UTF-8";
/*颜色变量*/
/*header部分*/
.site-header { background: rgba(0, 0, 0, 0.3); }

.topInfo { height: 65px; border-radius: 0 0 30px 30px; background: rgba(255, 255, 255, 0.6); display: flex; align-items: center; }
.topInfo > * { margin-left: 30px; color: #000; }
.topInfo > a:nth-child(3) { margin-left: auto; }
.topInfo > a:last-child { margin-right: 30px; }
.topInfo .icon-mail, .topInfo .icon-shouji { font-size: 1.3rem; }
.topInfo a:hover { color: #ee5845; }

.topNav { height: 100px; display: flex; justify-content: space-between; align-items: center; position: relative; }
.topNav a:nth-child(2) { margin-left: 150px; }
.topNav a { color: #ffffff; font-size: 1.2rem; font-weight: 700; }
.topNav a:hover { color: #ee5845; }
.topNav .logo { font-size: 3rem; font-weight: 700; color: #ee5845; }
.topNav i { font-size: 1.6rem; }
.topNav p { position: absolute; width: 90px; font-size: .7rem; right: -10px; margin-top: 10px; }

/*topBanner*/
.topBanner { margin-top: -165px; height: 750px; background: url("../img/banner.jpg") no-repeat; background-size: cover; position: relative; z-index: -1; }

.banner-aside { position: absolute; right: 0; top: 35%; }
.banner-aside > div { width: 735px; height: 185px; background: rgba(235, 32, 0, 0.3); }
.banner-aside h1 { text-align: right; margin-top: 20px; margin-right: 30px; }
.banner-aside p { text-align: right; color: #ffffff; font-size: 1.6rem; margin-top: 30px; margin-right: 30px; }
.banner-aside button { width: 180px; height: 45px; font-size: 1.5rem; margin-top: 20px; margin-right: 20px; }
.banner-aside button.btn-exp { background: #ee5845; color: #ffffff; box-sizing: border-box; margin-left: 300px; }
.banner-aside button.btn-shop { background: transparent; border: 1px solid black; box-sizing: border-box; }

/*main部分*/
.blocksNav { margin-top: 40px; display: grid; grid-template-columns: 400px 400px 255px; grid-template-rows: 185px 150px; column-gap: 30px; row-gap: 40px; }

.Shoes { position: relative; color: #f1f1f1; font-size: 35px; font-weight: 700; padding: 40px 60px; text-shadow: 1px 1px 2px black; background: #000; }
.Shoes img { height: 150px; width: 170px; position: absolute; left: -20px; top: 60px; }

.Bags { position: relative; color: #f1f1f1; font-size: 35px; font-weight: 700; padding: 40px 60px; text-shadow: 1px 1px 2px black; background: #937361; }
.Bags img { position: absolute; right: -20px; top: 15px; }

.FASHION { grid-row: span 2; background: url("../img/pi1.jpg") no-repeat; background-size: cover; }
.FASHION .mask { width: 100%; height: 100%; color: #ffffff; text-align: center; background: rgba(238, 12, 4, 0.2); overflow: hidden; }
.FASHION .mask h1 { font-size: 30px; text-shadow: 1px 1px 1px black; margin-bottom: 10px; margin-top: 100px; }
.FASHION .mask span { font-size: 26px; }
.FASHION .mask hr { width: 80%; border: none; border-bottom: 2px solid white; }
.FASHION .mask p { margin-top: 20px; font-size: 70px; font-weight: 100; }

.Member { grid-column: span 2; color: #f1f1f1; font-size: 35px; font-weight: 700; padding: 40px 60px; text-shadow: 1px 1px 2px black; background: #686767; }
.Member button { float: right; width: 190px; height: 55px; color: white; font-size: 1.75rem; border: 2px solid white; background: transparent; box-sizing: border-box; }

.shows { margin-top: 40px; }
.shows hr { width: 170px; }
.shows h1 { text-align: center; font-size: 3rem; }

.showsTitle { text-align: center; }
.showsTitle button { margin-left: 10px; margin-right: 10px; margin-top: 30px; width: 145px; height: 40px; font-size: 1.2rem; font-weight: 700; border: 2px solid black; box-sizing: border-box; }

.showsContent { display: flex; margin-top: 30px; }
.showsContent > div { flex: 1; height: 570px; }
.showsContent .sc1 { background: url("../img/pi2.jpg") no-repeat; background-size: cover; }
.showsContent .sc2 { position: relative; background: url("../img/pi3.jpg") no-repeat; background-size: cover; }
.showsContent .sc3 { position: relative; background: url("../img/pi4.jpg") no-repeat; background-size: cover; }

.discount-circle { position: absolute; top: 5px; right: 5px; padding-top: 17px; width: 60px; height: 60px; color: #fff; font-size: 1.1rem; text-align: center; border-radius: 30px; box-sizing: border-box; }
.discount-circle.purple { background: #a888d2; }
.discount-circle.red { background: #ee5845; }
.discount-circle.red span { position: absolute; right: 11px; top: 35px; font-size: .85rem; font-weight: 100; }

/*midBanner部分*/
.midBanner { margin-top: 60px; height: 335px; color: #ffffff; background: url("../img/back.jpg") no-repeat; background-size: cover; overflow: hidden; }
.midBanner .mBtext { width: 1020px; margin: 50px auto; font-size: 2.5rem; font-weight: 400; text-align: center; }
.midBanner .mBtext hr { width: 115px; }

/*downPart*/
.downPart { margin-top: 50px; }

.LatestNews a { color: #000; font-size: 2rem; text-decoration: underline; }

.LNgrid { display: grid; margin-top: 55px; grid-template-rows: repeat(2, 200px); grid-template-columns: 365px 340px 350px; grid-row-gap: 40px; justify-content: space-between; }

.lPic1 { background: url("../img/bl.jpg") no-repeat; background-size: cover; }

.lPic2 { padding-top: 30px; color: #ffffff; font-size: 1.75rem; font-weight: 700; text-align: center; background: #3d99f7; }
.lPic2 p { margin-top: 10px; font-size: 60px; font-weight: 100; }

.cenTxt1 { position: relative; }
.cenTxt1 i { position: absolute; top: 7px; font-size: 2rem; }
.cenTxt1 i.icon-arrowleft { right: 32px; }
.cenTxt1 i.icon-arrowright { right: 0; }
.cenTxt1 h1 { font-size: 35px; }
.cenTxt1 h5 { margin-top: -5px; font-weight: 300; }
.cenTxt1 p { margin-top: 20px; font-size: .85rem; }
.cenTxt1 button { float: right; width: 90px; height: 30px; margin-top: 25px; font-size: .9rem; font-weight: 700; border: 2px solid black; box-sizing: border-box; }

.cenTxt2 h1 { font-size: 35px; }
.cenTxt2 h5 { margin-top: -5px; font-weight: 300; }
.cenTxt2 p { margin-top: 20px; font-size: .85rem; }
.cenTxt2 button { float: right; width: 90px; height: 30px; margin-top: 25px; font-size: .9rem; font-weight: 700; border: 2px solid black; box-sizing: border-box; }

.rBigPic { grid-row: span 2; background: url("../img/bl1.jpg"); }
.rBigPic div.rmask { padding-top: 80px; width: 100%; height: 100%; background: rgba(235, 32, 0, 0.2); box-sizing: border-box; color: #ffffff; font-size: 2rem; font-weight: 700; text-align: center; }
.rBigPic div.rmask p { margin-top: 40px; font-size: 80px; font-weight: 100; }

.bottomPic { position: relative; z-index: 0; display: flex; justify-content: center; align-items: center; height: 225px; margin-top: 60px; background: url("../img/product.jpg") no-repeat; background-size: cover; }
.bottomPic .bPcenter { width: calc(100% - 30px); height: calc(100% - 30px); border: 1px solid white; box-sizing: border-box; }
.bottomPic .bPright { position: absolute; z-index: -1; right: 0; width: 395px; height: 100%; padding-right: 40px; color: #ffffff; box-sizing: border-box; background: darkgrey; }
.bottomPic .bPright p:first-child { margin-top: 65px; font-size: 1.75rem; font-weight: 200; text-align: right; }
.bottomPic .bPright p:last-child { margin-top: 15px; font-size: 1.1rem; font-weight: 700; text-align: right; text-transform: uppercase; }

/*footer部分*/
.site-footer { margin-top: 60px; background: #eee; border-top: 1px solid black; }

.bottomInfo { display: flex; height: 585px; border-bottom: 2px solid black; box-sizing: border-box; }

.bIleft { flex: 1; margin-top: 60px; }
.bIleft h1 { margin-bottom: 40px; border-bottom: 1px solid black; }
.bIleft input { width: 100%; height: 30px; margin-bottom: 20px; padding: 0 6px; font-size: .9rem; border: 1px solid black; box-sizing: border-box; }
.bIleft textarea { width: 100%; height: 115px; margin-bottom: 30px; padding: 6px; font-size: .9rem; resize: none; border: 1px solid black; box-sizing: border-box; }
.bIleft button { float: right; width: 140px; height: 35px; color: white; font-size: .9rem; background: #ee5845; }

.bIcenter { flex: 1; margin: 60px 30px; }
.bIcenter h1 { border-bottom: 1px solid black; }
.bIcenter .bIc-content { display: flex; justify-content: space-between; margin-top: 30px; }
.bIcenter .bic-txt h3 { color: #ee5845; }
.bIcenter .bic-txt i { color: #ffc33e; }
.bIcenter .bic-pic { width: 85px; height: 120px; border: 1px solid black; box-sizing: border-box; }
.bIcenter .bic-pic.item1 { background: url("../img/f1.jpg") no-repeat; background-size: cover; }
.bIcenter .bic-pic.item2 { background: url("../img/f2.jpg") no-repeat; background-size: cover; }
.bIcenter .bic-pic.item3 { background: url("../img/f3.jpg") no-repeat; background-size: cover; }

.bIright { position: relative; flex: 1.1; margin-top: 110px; }

.bIlogo { position: absolute; }

.bIr-txt { margin-left: 120px; margin-bottom: 30px; }
.bIr-txt p { font-size: .9rem; }

.additional { margin-left: 35px; }

.contact { display: flex; flex-direction: column; margin-left: 35px; }
.contact a { margin-top: 15px; }

.pay { margin-left: 35px; margin-top: 20px; }

.site-info { height: 135px; line-height: 135px; text-align: center; font-size: 1.2rem; font-style: normal; font-weight: 700; }
.site-info a { color: #ee5845; }

/*# sourceMappingURL=style.css.map */
