
/*滚动条*/
::-webkit-scrollbar {/*滚动条整体样式*/
    width: 8px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 8px;
}
::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(39, 53, 255, 0.7);
}
::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}

/*iconfont使用-SVG方式*/
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

:root {
    --red: #d10024;
    --lightGrey: #8993a8;
    --deepGrey: #2b2d42;
}


/*header部分*/
/*topNav*/
.topNavWrap {
    background: #1e1f29;
}
.topNav {
    display: flex;
    align-items: center;
}
.topNav svg {
    color: var(--red);
    font-size: 1.1rem;
    vertical-align: top;
}
.topNav a {
    font-size: 0.8rem;
    padding: 15px 0;
    margin-right: 15px;
    box-sizing: border-box;
}
.topNav a:nth-child(3) {
    margin-right: auto;
}
.topNav a:last-child {
    margin-right: 0;
}

/*searchBar*/
.searchBarWrap {
    background: #15161d;
}
.searchBar {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    vertical-align: center;
    flex: 0.6;
}

.searchBox {
    flex: 1;
    font-size: 0;
    height: 40px;
    display: flex;
}
.searchBox>* {
    height: 99%;
    box-sizing: border-box;
    font-size: 0.85rem;
}
.searchBox select{
    border-radius: 20px 0 0 20px;
    padding:0 15px;
    border-right: 2px solid lightgrey;
}
.search {
    flex: 0.7;
    padding: 0 15px;
}
.searchBtn {
    height: 100%;
    background: var(--red);
    color: white;
    padding: 0 24px;
    font-weight: 700;
    border-radius: 0 20px 20px 0px;
    cursor: pointer;
}


.like {
    flex: 0.3;
    text-align: center;
    position: relative;
}

.like::after {
    content: '2';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    line-height: 20px;
    text-align: center;
    background: var(--red);
    color: white;
    font-size: 0.6rem;
    top: -8px;
    left: 55%;
}
.cart {
    /*此处不写flex，不然无法右端对齐*/
    /*auto即为自己本身宽度，其实是默认值*/
    flex-basis: auto;
    text-align: center;
    position: relative;
}
.cart::after {
    content: '2';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    line-height: 20px;
    text-align: center;
    background: var(--red);
    color: white;
    font-size: 0.6rem;
    top: -8px;
    left: 55%;
}
.like svg,.cart svg {
    font-size: 1.5rem;
}
.like p,.cart p {
    font-size: 0.8rem;
}

/*topMenu部分*/
.topMenuWrap {
    border-top: 4px solid var(--red);
    box-shadow: 0px 0px 4px grey;
}

.topMenu {
    display: flex;
}

.topMenu a {
    /*margin: 25px 0px;*/
    margin-right: 30px;
    padding: 25px 0;
    position: relative;
}

.topMenu a::after {
    content: '';
    display: block;
    height: 3px;
    width: 0%;
    background: var(--red);
    position: absolute;
    margin-top: 3px;
    transition: width 0.2s linear;
}
.topMenu a:hover::after {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background: var(--red);
    position: absolute;
    margin-top: 3px;
}

/*topBanner*/
.topBanner {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}

.topBanner-item {
    background: #e4e7ed;
    width: 360px;
    height: 240px;
    overflow: hidden;
    position: relative;
    margin-top: 3vw;
}
.topBanner-item img {
    height: 240px;
    transition: all 0.2s linear;
}
.topBanner-item:hover img{
    transform: scale(1.1);
}

@media screen and (max-width: 1160px) {
    .topBanner-item {
        width: 48%;
        height: 30vw;
    }
    .topBanner-item img{
        width: 100%;
        height: 30vw;
    }
}
@media screen and (max-width: 800px) {
    .topBanner-item {
        width: 75%;
        height: 45vw;
    }
    .topBanner-item img{
        width: 100%;
        height: 45vw;
    }
}


.topBanner-mask {
    border: 345px solid transparent;
    border-top: 0;
    border-left: 300px solid var(--red);
    height: 0;
    width: 0;
    position: absolute;
    z-index: 1;
    opacity: 0.85;
}
.topBanner-text {
    color: white;
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 2;
}
.topBanner-text p {
    margin-top: 10px;
}
.topBanner-text p i{
    font-size: 1.5rem;
    vertical-align: middle;
}







/*媒体查询*/


/*-------------------------*/

/*main-section部分，很多可通用*/

/*NewProduct部分*/
.NewProduct {
    margin-top: 90px;
}
.main-nav {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.main-nav h1 {
    margin-right: auto;
}
.main-nav a {
    margin-left: 20px;
    position: relative;
    transition: all 0.3s linear;
}

.main-nav a::after {
    content: '';
    display: block;
    height: 3px;
    width: 0%;
    background: var(--red);
    position: absolute;
    margin-top: 3px;
    transition: all 0.3s linear;
}
.main-nav a:hover::after {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background: var(--red);
    position: absolute;
    margin-top: 3px;
}

.main-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.main-content-item {
    width: 265px;
    height: 455px;

    box-shadow: 0 0 3px darkgrey;
    text-align: center;
    position: relative;
    margin-top: 30px;
    box-sizing: border-box;
    border: 2px solid transparent;
    /*overflow: hidden;*/
    transition: all 0.3s linear;
}

.main-content-item:first-child::after {
    content: 'NEW';
    display: block;
    position: absolute;
    color: white;
    background: var(--red);
    right: 10px;
    top: 10px;
    height: 25px;
    width: 55px;
    line-height: 25px;
}
.main-content-item:first-child::before {
    content: '-30%';
    display: block;
    position: absolute;
    color: var(--red);
    border: 2px solid var(--red);
    right: 70px;
    top: 10px;
    height: 25px;
    width: 55px;
    box-sizing: border-box;
}
.main-content-item:nth-child(2)::after {
    content: '-30%';
    display: block;
    position: absolute;
    color: var(--red);
    border: 2px solid var(--red);
    right: 10px;
    top: 10px;
    padding: 3px 10px;
    box-sizing: border-box;
}

@media screen and (max-width: 1123px) {
    .main-content-item {
        margin-top: 100px;
    }
    .main-nav {
        margin-bottom: -50px;
    }
}



.npc-drawer {
    position: absolute;
    top: 100%;
    width: 261px;
    height: 0px;
    background: #000;
    left:0;
    transition: all 0.2s linear;
    overflow: hidden;
}
button.ADC {
    font-size: 1.2rem;
    color: white;
    font-weight: 700;
    text-align: center;
    background: var(--red);
    min-width: 200px;
    padding: 12px 20px;
    border-radius: 40px;
    transition: all 0.2s linear;
    /*要用这种方式设置居中才可以，
    若用lh方式，动画不会自动适应高度的变化，
    会很突兀*/
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    border: 2px solid var(--red);
}

button.ADC:hover {
    background: white;
    border: 2px solid var(--red);
    color: var(--red);
    cursor: pointer;
}

.main-content-item:hover {
    border: 2px solid var(--red);
    overflow: visible;
}
.main-content-item:hover .npc-drawer {
    height: 80px;
    /*line-height: 80px;*/
}
.main-content-item:hover .ADC {
    /*opacity: 1;*/
    /*transition: all 0.2s linear;*/
}


.main-content-item img{
    width: 100%;
}
.main-content-item p {
    font-size: 0.8rem;
}
.main-content-item h4 {
    margin: 10px 0;
}
.main-content-item>span {
    font-weight: 700;
}
.main-content-item>span del {
    font-size: 0.7rem;
    color: #8993a8;
    font-weight: 400;
}

.starline {
    margin-top: 15px;
    margin-bottom: 25px;
}

.main-content-item hr {
    width: 30%;
    height: 1px;
    background: lightgrey;
    border: none;
    vertical-align: bottom;
}
.starline i:not(:last-of-type) {
    margin-right: -2px;
}

.starline~a:not(:last-of-type) {
    margin-right: 30px;
}
.main-content-item>a>i {
    font-size: 1.5rem;
    display: inline-block;
    transition: all 0.2s linear;
}

.main-content-item>a {
    position: relative;
}

.main-content-item>a::after {
    content: '';
    display: block;
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0%;
    /*border: 1px solid red;*/
    box-sizing: border-box;
    top:-12.1px;
    left:-7.4px;
    background: #eeeeee;
    z-index: -1;
    transition: all 0.2s linear;
    visibility: hidden;
}
.main-content-item>a:hover::after {
    visibility: visible;
    border-radius: 50%;

}
.main-content-item>a:hover i {
    color: var(--red);
}

.npcitem-tooltip {
    position: absolute;
    min-width: 120px;
    padding: 10px;
    color: #fff;
    background: #000;
    bottom: 100%;
    left: 0;
    font-size: 0.8rem;
    transform: translate(-40%, -5px);
    opacity: 0;
    /*visibility: hidden;*/
    transition: all 0.2s linear;
}
.main-content-item>a:hover span {
    transform: translate(-40%, -15px);
    /*visibility: visible;*/
    opacity: 1;
}


/*中间banner*/
.centerBanner {
    margin-top: 90px;
    /*padding-top: 33%;*/
    height: 33vw;
    min-height: 220px;
    background: url("../img/hotdeal.png") 45% 0px no-repeat;
    background-size: cover;
    /*overflow: hidden;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.cB-content {
    width: 40%;
    /*margin: 20px auto;*/
    text-align: center;
    margin-left: 40px;
}
.cB-time {
    display: flex;
    width: 100%;
    justify-content: space-between;

}
.cBt-redball {
    color: #fff;
    border-radius: 50%;
    background-color: var(--red);
    box-sizing: border-box;
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cBt-redball p {
    font-size: 0.75rem;
}
.cB-content h1 {
    margin-bottom: 5px;
    margin-top: 15px;
}
.cB-content button {
    color: white;
    font-weight: 700;
    background-color: var(--red);
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 15px;
    cursor: pointer;
}


/*TopSelling部分*/
.TopSelling {
    margin-top: 80px;
}
/*TopSelling主要部分与NP部分公用一个类*/



/*TopSellingList部分*/
.TopSellingListWrap {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
}

.TSlist {
    min-width: 325px;
    width: 30%;
    margin-top: 20px;

}
.TSlist:not(:last-child) {
    margin-right: 5%;
}


.TSlist-title {
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}
.TSlist-title>i {

    border: 1px solid lightgrey;
    font-size: 20px;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    transition: all .2s linear;
}
.TSlist-title>i:first-of-type {
    margin-left: auto;
    margin-right: 10px;
}
.TSlist-title>i:hover {
    color: lightgrey;
    border: 1px solid grey;
}


.TSlist-itemWrap {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 80px 80px 80px;
    grid-column-gap: 20px;
    align-items: center;
}

.tsli-img:nth-child(1) {
    background: url("../img/product01.png");
    background-size: cover;
}
.tsli-img:nth-child(3) {
    background: url("../img/product02.png");
    background-size: cover;
}
.tsli-img:nth-child(5) {
    background: url("../img/product03.png");
    background-size: cover;
}

.ti2:nth-child(1) {
    background: url("../img/product04.png");
    background-size: cover;
}
.ti2:nth-child(3) {
    background: url("../img/product06.png");
    background-size: cover;
}
.ti2:nth-child(5) {
    background: url("../img/product07.png");
    background-size: cover;
}

.ti3:nth-child(1) {
    background: url("../img/product08.png");
    background-size: cover;
}
.ti3:nth-child(3) {
    background: url("../img/product09.png");
    background-size: cover;
}
.ti3:nth-child(5) {
    background: url("../img/product03.png");
    background-size: cover;
}

.tsli-img {
    width: 80px;
    height: 80px;
}
.tsli-price p:first-of-type{
    font-size: 0.7rem;
    margin-bottom: 5px;
}
.tsli-price p:last-of-type{
    font-size: 1rem;
    margin-bottom: 5px;
}
.tsli-price del {
    font-size: 0.7rem;
}

.SignUp {
    margin-top: 90px;
    border-top: 1px solid lightgrey;
    border-bottom: 4px solid var(--red);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SignUp p {
    font-size: 1.5rem;
    font-weight: 100;
    margin: 40px 0;
}
.SU-emailBox {
    width: 50%;
}
.SU-emailBox form{
    display: flex;
}

.SU-emailBox form>* {
    height: 38px;
}
.SU-emailBox input {
    flex: 1;
    padding: 0 15px;
    border: 1px solid lightgrey;
    border-right: none;
    border-radius: 19px 0 0 19px;
    box-sizing: border-box;
}
.SU-emailBox button {
    line-height: 38px;
    text-align: center;
    border-radius: 0 19px 19px 0;
    background-color: var(--red);
    box-sizing: border-box;
    color: white;
    font-weight: 700;
    padding: 0 20px;
}


.signup-SNSicon {
    margin: 30px 0;
}
.signup-SNSicon svg{
    border: 1px solid lightgrey;
    font-size: 1.2rem;
    color: var(--deepGrey);
    padding: 5px;
}


.helpNavWrap {
    background: #15161d;
    overflow: hidden;
}
.helpNavContain {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}


.helpNavWrap dl {
    max-width: 250px;
    min-width: 200px;
 }

.helpNavWrap dt {
    margin-top: 30px;
    margin-bottom: 20px;
}
.helpNavWrap dd {
    color: #cccccc;
    font-weight: 100;
    margin-top: 15px;
    font-size: 0.9rem;
}
.helpNavWrap a {
    color: #ccc;
    transition: all .2s linear;
    font-weight: 400;
}
.helpNavWrap a:hover {
    color: var(--red);
}

.bottomBar {
    background: #1e1f29;
    height: 160px;
    text-align: center;
    padding-top: 30px;
}
.payment {
    margin-bottom: 15px;
}
.bottomBar i {
    font-size: 50px;
    cursor: pointer;
    transition: all .2s linear;
}

.bottomBar i:hover {
    color: white;
}

.bottomBar span {

    font-size: 0.8rem;
    color: #d1d1d1;
}
